/* public/css/styles.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Using Google Font */
    background-color: #f0f0f0;
    color: #333;
}

.top-border {
    height: 50px;
    background-color: #5a189a;
    box-shadow: 0 4px 2px -2px gray;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.styled-paragraph {
    background: linear-gradient(135deg, #9d4edd, #7b2cbf);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-image {
    margin-top: 20px;
}

.like-button {
    transition: background-color 0.3s, transform 0.3s;
}

.like-button:active {
    transform: scale(1.1);
}

@keyframes sunRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sun {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: radial-gradient(circle at center, #ffdb58 20%, transparent 40%);
    border-radius: 50%;
    animation: sunRotation 20s linear infinite;
}

.sun::before, .sun::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 30px;
    background: #ffdb58;
    top: -5px;
    left: 47.5%;
    border-radius: 5px;
}

.sun::before {
    transform: rotate(45deg);
}

.sun::after {
    transform: rotate(-45deg);
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        padding: 10px;
    }
    .center-image {
        width: 100%;
        max-width: 300px;
    }
    .like-button {
        width: 100%;
        max-width: 300px;
        font-size: 14px;
    }
}
